<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'image_generation.css') }}">
    <title>Image Generation</title>
</head>
<body>
    <h1>Генерация изображений</h1>
    <form action="{{ url_for('image_generation') }}" method="POST">
        <input name="user_request" type="text" placeholder="Введите запрос..." required>
        <button type="submit">Отправить</button>
    </form>
    
    {% if image_url %}
        <div class="image-container">
            <img src="{{ image_url }}" alt="Generated Image">
        </div>
    {% endif %}

    <a href="{{ url_for('main') }}">На главную</a>
</body>
</html>
